ECN in general provides advice (e.g, RFC 8511 / ABE also provides this using ECT(0)).

I'm not sure citing L4S alone here is quite right.
OLD:
"Consider for example a path in which the bottleneck router implements Early Congestion Notification as specified in the L4S architecture [RFC9330]."

The benefit cited is actually from the use of ECN, not specifically from L4S. This benefit is set out in RFC8087.

Examples where ECN provides this benefit are ABE [RFC 8511] and L4S, it's not just L4S here.

I agree that 3168 is the right reference.

@mwelzl, @gorryfair -- I think the respective merits of L4S, ABE, FQ_PIE+ECN, or FQ-CODEL+ECN are best discussed in person, preferably in a relaxed pub-like setting. It is pretty clear that the dependency on the asymptotic limit of Reno in L4S is rather questionable, since BBR does not have this limit, and any algorithm that react on average rate of packet marks/drop instead of reacting on first mark/drop does not have this limit either. It is also clear that the "integral controller" part of the PIE algorithm has to make hypotheses about the end-to-end delays, that these hypotheses may not be robust, and that L4S incorporates them without much discussion. Again, good discussions in a pub-like setting, or possibly in ICCRG or CCWG, but for SCONE that's not exactly a core issue.

+1 on 3168.

@huitema - agree 100%, getting into "ABE vs. L4S" is exactly what I want to avoid (and have been avoiding over the "pushing for L4S" decade).  I can't make it to Shenzhen, but I'd love to drink to this in Vienna!