Should SCONE mention the Spin Bit?

The spin bit is only on 1-RTT packets, so there isn't actually a conflict between the bit and the fields in SCONE.

But, whatever is watching the spin bit has to either ignore a SCONE packet or parse ahead to the 1-RTT header. I imagine they'll do the former, but I wonder if we should add some text about this.

I have not implemented a spin bit observer; I imagine they just ignore long-header datagrams, so maybe this flows naturally?

Don't we all love the spin bit? 

Seriously, a spin-bit observer is looking at 1 RTT packets per flow. It observes changes in the spin-bit value, and measures the time delay between these changes. Yes, it might want to not miss a bit and observe the first 1RTT packet in a coalesced datagram. If it ignores them and if the first "spinning" packet happens to be the scone-coalesced packet, the RTT estimate will be too large by one packet transmission time. This is not great, but probably also not atrocious -- the estimate will also be too large if the spin happens during a low transmission time, e.g., between two video frames.

The bit spins on one side just after it sees a spin from the other side, so the "head of spin" condition is known before starting to format the UDP datagram. Implementations might try to be gentle and not coalesce the Scone packet with an "head of spin" packet.

I don't think we need text on this in the main spec. Potentially something to mention in the app-man doc though (or here if they get merged). 

Given how easy the analysis is, this seems an OK inclusion for the draft.  I consider the app-man doc to be a place for those managing networks, not those doing implementations, and that suggestion really needs to be carried out by endpoint implementers.

I do not mind either ways, as this is not a new problem. QUIC v1 explicitly allows endpoints to coalesce long header packets with 1-RTT packets after the handshake ([Section 14.4.1 of RFC 9000](https://datatracker.ietf.org/doc/html/rfc9000#name-pmtu-probes-containing-sour)).

That said, the PR looks fine and I appreciate the effort.